body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
  outline: none;
  padding: 0rem 0.3rem;
  border: 0.5px solid #888;
  border-radius: 0.2rem;
}

.type {
  width: 4rem;
}
.description {
  width: 30rem;
}
.amount {
  width: 3rem;
}

button {
  outline: none;
}

button:active {
  transform: translateY(2px);
}
